.bgd-img{
	position:absolute;
	z-index:-100;
}
.sign_up,.log-in, .lg-in-firs{
	background-color: #F5F5F5;
	padding: 10px 15px 5px 10px;
}
ul li{
	list-style-type: none;
}
.sign-up-div, .lg-in-for-firs-team, .lg-in-for-company{
  margin-top: 30px;
}
.das_con{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background-color: #F5F5F5;
	padding-top:5px;
	padding-bottom: 20px;
}
.divide_bottom{
	border-bottom: 1px solid grey;
	   padding-top:15px;
    padding-bottom: 15px; 
    text-align: center;
    color:#FFFFFF;
}
.profile{
	border-radius: 50px;
	border: 2px solid grey;
}
.sidelist{
	font-size:1.0em;
	color:#b4bcc8;
	border-bottom:1px solid grey;
	padding-top:10px;
	padding-bottom:10px
}
.sidelist:hover{
	background-color: #3598dc;
}
.no_company{
	margin-left: auto;
	margin-right: auto;
	width:50px;
	border-radius: 25px;
	background-color: yellow;
	text-align: center;
}
.side li{
    padding-top:15px;
    padding-bottom: 15px; 
    text-align: center;
    color:#FFFFFF;
}
.divide{
	width:100%;
	border:1px dashed grey;
}
.divide2{
	width:100%;
	border:1px dashed white;
}
.forpop{
	width:100%;
	border:1px dashed grey;
}
.icon{
	padding-top:20px;
	text-align:center;
	background-color:#3598dc;
	border:1px solid #FFFFFF;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	/*border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
}
#icon_container{
border:2px solid white;
width:60px;
height:60px;
padding-top:auto;
padding-bottom:auto;
margin-left:auto;
margin-right:auto;
border-radius:30px;
margin-bottom:5px;
}
.text_on_notif{
	font-size: 1.0em;
	font-weight: 100px;
	color:#FFFFFF;
	background-color: #d36f2e;
	text-align: left;
	font-family: Roboto sans-serif;
}
.text_on_ass{
    font-size: 1.0em;
	font-weight: 100px;
	color:#FFFFFF;
	background-color: #D2B48C;
	text-align: left;
	font-family: Roboto sans-serif;
}
.text_on_team{
	 font-size: 1.0em;
	font-weight: 100px;
	color:#FFFFFF;
	/*background-color: #FF6347;*/
	background-color: #d36f2e;
	text-align: left;
	font-family: Roboto sans-serif;
}
.icon_name{
	font-size: 1.2em;
	color:#FFFFFF;
	font-family: Roboto sans-serif;

}
.icon_plus{
	padding-top:20px;
	text-align:center;
	border:1px solid #FFFFFF;
	background-color:#D2B48C;
	/*border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;*/
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;

}
.icon_end{
	padding-top:20px;
	text-align:center;
	border:1px solid #FFFFFF;
	background-color:#d36f2e;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	/*border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;*/

}
.fa-suitcase, .fa-user, .fa-eye, .fa-download{
	color:white;
}
.fa-bell-o{
	color:white;
}
.fa-download{

}
#create_company, #list_company,#notif,#Assessment,#company_notification,#files,#firs_team{
	width:35%;
	margin-left:420px;
	height:auto;
	margin-top: -52px;
	border-top-right-radius: 40px;
	box-shadow: 5px 5px grey;
	font-family: Roboto sans-serif;
}
.header{
	background-color: #d36f2e;
	padding:5px 5px 5px 5px;
	color:#FFFFFF;
}
#list_company,#notif,#Assessment,#company_notification,#files,#firs_team{
	padding: 0px 0px 0px 0px;
	background-color: #F5F5F5;
}
#add_fir_member{
	width:35%;
	margin-left:420px;
	height:auto;
	margin-top: -52px;
}

#container{
	height: 480px;
}
#render_team{
	height: 450px;overflow-y:scroll; 
}
.add_company, .listcountry{
	margin-top:7px;
	padding:5px 5px 5px 5px;
	text-align:center;
	background-color:red;
	color:#FFFFFF;
	font-size:1.2em;
}
#upload_file{
	width:35%;
	margin-left:420px;
	height:auto;
	margin-top: -52px;
	padding: 0px 0px 10px 0px;
	background-color: #F5F5F5;
	font-family: Roboto sans-serif;
	border-top-right-radius: 40px;
	overflow:hidden;

}
.uploaded_file{
	text-align: center;
	padding:5px 5px 5px 5px;
	border-bottom: 1px solid;
	background-color: blue;
}
.ongoingAss{
    text-align: center;
    padding:5px 5px 5px 5px;
    border-bottom: 1px solid;
	background-color: blue;
}
.finishedAss{
    text-align:center;
	padding: 5px 5px 5px 5px;
	border-bottom: 1px solid blue;
	background-color: #6495ED;
}
.upload_new{
	text-align:center;
	padding: 5px 5px 5px 5px;
	border-bottom: 1px solid blue;
	background-color: #6495ED;
}
#no_of_files, #company_icon{
	font-weight: 100px;
	font-size:40px;
	color:#FFFFFF;
	padding: 0px 0px 0px 0px;
	background-color: #6A5ACD;

}
.scroll-y{
	height: 450px;
	overflow-y: scroll;
}.firongoingAssessment,#big{
	height: 450px;
}
.ass_container{
	height: 460px;
}
.ongoing{
	padding:5px 5px 5px 5px;
	background-color: blue;
}
.finished{
	padding: 5px 5px 5px 5px;
	border-bottom: 1px solid blue;
	background-color: #6495ED;
}
.add_image{
	text-align: center;
	border: 1px solid grey;
}
.align_img li{
	font-size:0.8em;text-align:center;border:1px solid white;background-color:green;padding:5px 5px 5px 5px;color:white;
	margin-top:6px;
}
.fa-spinner{
	font-size: 20px;
}
div.vertical-line{
  width: 2px;
  background-color: blue;
  height: 100%;
 margin-left: 50%;
  border-radius: 2px;
}
.assessment_flow{
	border-radius:20px;
	border:2px solid blue;
	text-align:center;
	width:40%;
	margin-left:auto;
	margin-right:auto;
}
.assign_task_page{
	background-color:#d36f2e;
	padding: 5px 5px 5px 5px; 
	font-size: 1.2em;
	color:#FFFFFF;
	text-align: center;
}
.assigned_task_page{
	padding: 5px 5px 5px 5px;
	background-color: #D2B48C;
	font-size: 1.2em;
	color:#FFFFFF;
	text-align: center;
}
.assessmenthover:hover{
	color: blue;
}

@media only screen and (max-width: 1200px) and (min-width:1000px){

.das_con{
	margin-top:20px;
	padding: 15px 15px 15px 15px;
}
.sidelist{
	font-size: 1.0em;
}
#welcome{
 font-size: 1.2em;
}
#owner{
	font-size: 0.8em;
}
.dash{

}
#create_company, #list_company,#notif,#Assessment,#company_notification,#files,#firs_team{
	width:45%;
	margin-left:320px;
	height:auto;
	margin-top: -52px;
	border-top-right-radius: 40px;
	box-shadow: 5px 5px grey;
	font-family: Roboto sans-serif;
}


}
@media only screen and (max-width: 1000px) and (min-width:767px){

.das_con{
	margin-top:20px;
	padding: 15px 15px 15px 15px;

}
.text_on_ass{
    font-size: 0.8em;
	font-weight: 100px;
	color:#FFFFFF;
	background-color: #D2B48C;
	text-align: left;
	font-family: Roboto sans-serif;
}
.sidelist{
	font-size: 1.0em;
}
.dash{

}
#welcome{
 font-size: 1.2em;
}
#owner{
	font-size: 0.8em;
}
#create_company, #list_company,#notif,#Assessment,#company_notification,#files,#firs_team{
	width:50%;
	margin-left:auto;
	margin-right: auto;
	height:auto;
	margin-top: -52px;
	border-top-right-radius: 40px;
	box-shadow: 5px 5px grey;
	font-family: Roboto sans-serif;
}

}
@media only screen and (max-width: 767px){

.das_con{
	width: 100%;
	margin-top:20px;
	padding: 15px 15px 15px 15px;
}
.sideall{
	display:none;
}
#dash{
text-align:center;font-size:1.4em;color:black;
}
#create_company, #list_company,#notif,#Assessment,#company_notification,#files,#firs_team{
	width:55%;
	margin-left:auto;
	margin-right: auto;
	height:auto;
	margin-top: -70px;
	border-top-right-radius: 40px;
	box-shadow: 5px 5px grey;
	font-family: Roboto sans-serif;
}
.profile{
	border-radius:100px;
	width:100px;
}
.icon_plus{
	padding-top:20px;
	text-align:center;
	border:1px solid #FFFFFF;
	background-color:#D2B48C;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.icon_end{
	padding-top:20px;
	text-align:center;
	border:1px solid #FFFFFF;
	background-color:#d36f2e;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;

}
.icon{
	padding-top:20px;
	text-align:center;
	background-color:#d36f2e;
	border:1px solid #FFFFFF;
		border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	
}

}
@media only screen and (max-width: 650px){

#show_tool{
	color:red;
}
#create_company, #list_company,#notif,#Assessment,#company_notification,#files,#firs_team{
	width:100%;
	margin-left:auto;
	margin-right: auto;
	height:auto;
	margin-top: 0px;
	border-top-right-radius: 40px;
	box-shadow: 5px 5px grey;
	font-family: Roboto sans-serif;
}
}	
