.bgd-img{
	position:absolute;
	z-index:-100;
}
.divflow{
	width:80%;margin-left: 10%;
}
.div1{
	margin-left:0px;width:1500px;
}
.liflow{
	margin-left:20px;
}
.progress{
	 border:1px solid skyblue;height:30px;margin-left:50px;width:900px;
}
.companyflowtext{
	margin-left: -50px;
}
.top-bar{
	height: 50px;
}
.sign-up-div, .lg-in-for-firs-team, .lg-in-for-company{
  margin-top: 30px;
}
table { 
  border-collapse: collapse; 
}
.unseen{
	background-color: #F5F5F5;
}
.table_for_assess th{
	background-color: #4CAF50;
	border:1px solid #ddd;
}

/*.table_for_assess tr:nth-child(odd) {
 background-color: #F8F8FF
}*/
.table_for_assess tr{
	border:1px solid #ddd;
	padding:0px 0px 0px 0px;
}
.table_for_assess tr td{
	border:1px solid #ddd;
}
.eachfile2{
	border: 2px solid skyblue;
}
.dashtop{
	background-color:white;font-size:1.5em;padding-top:15px;padding-bottom:15px;padding-left:0px;
	margin-top:30px;color: grey
}
ul li{
	list-style-type: none;
	padding-bottom:5px;
}
.divide{
border:1px solid white;
}
.name{
	font-size: 1.2em;
	color:white;
}
.box{
	background-color: #3598dc;
	padding-top:20px;
	color:white;
    border-radius: 15px;
}
.fa-suitcase, .fa-user{
	color:white;
}
.sidelist{
	font-size:1.0em;
	color:#b4bcc8;
	border-bottom:1px solid grey;
	padding-top:10px;
	padding-bottom:10px;
}
.sidelist:hover{
	background-color: #3598dc;
}
.profile{
	border-radius: 50px;
	border: 2px solid grey;
	width:100px;
	height:100px;
}
#companyuploadedfile{
	width:30%;
	margin-left:420px;
	height:auto;
	margin-top: -52px;
	border-top-right-radius: 40px;
	box-shadow: 5px 5px grey;
	font-family:Roboto Condensed, sans-serif;
	padding: 0px 0px 0px 0px;
}
#create_company,#coordinator,#auditor,#externalfile,#Upfile,#change_pass,#downloadfile,#Report,#allconversations,#Morefile,#otherfile,#generate_vat,#coord_request_file,#coord_otherfile,#auditor_otherfile,#requested_file,#audit_status{
    width:35%;
	margin-left:420px;
	height:auto;
	margin-top: -52px;
	border-top-right-radius: 40px;
	box-shadow: 5px 5px grey;
	font-family:Roboto Condensed, sans-serif;
}
#downloadfile,#Requestfile,#generate_vat,#audit_status,#Report{
	padding: 0px 0px 0px 0px;
	height:250px;
}
.all_flows li{
  display: inline;
  text-align: left;
  margin-left: 0px;
}

#Morefile,#allconversations,#otherfile,#generate_vat,#externalfile,#coord_request_file,#coord_otherfile,#Upfile,#auditor_otherfile,#requested_file,#create_company,#change_pass{
	height: auto;
	padding: 0px 0px 0px 0px;
}
#allconversations{
  border-top-right-radius: 40px;	
}
.msg_icon{
	background-color:#e7505a;color:#e7505a;
}
.msg_icon2{
	background-color:#4CAF50;color:#4CAF50;
}
.eachfile{
	border: 2px solid red;
	font-size: 0.8em;
	padding:5px 7px 5px 7px;margin-bottom:300px;margin-right:7px;
}
.sub, .sub_for_coord{
	color:#e7505a;
}
.sub2:active{
 color:#e7505a;
}
.sub2{
	color:#4CAF50;
}
.sub_for_coord:hover{
	color:#e7505a;
}
.sub:hover{
	color:#e7505a;
}
.sub2:hover{
	color:#4CAF50;
}
.sub2:active{
 color:#4CAF50;
}
#allchats{
    height: 400px;
    overflow-y:scroll;
}
.header{
	background-color: skyblue;
	padding-left: 5px;
	padding-right: 5px;
	color:white;
}
.ongoing_ass{
	text-align: center;
	font-size:1.0em;
	color:grey;
	margin-top:20px;
}
.finished_ass{
	text-align: center;
	font-size:1.0em;
	color:grey;
	margin-top:20px;
}
.table_head{
	background-color: #3598dc;
	color:white;
	text-align: center;
	height: 50px;
}
.table_sub{
	text-align: center;
}
.table_content{
	color:white;
	text-align: center;
	font-size: 1.0em
}
   .list{
  width:100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color:white;
  border:1px solid #3598dc;
   }
      .order_head{
    background-color: #3598dc;
   }
   .det{
    background-color: #e7505a;
   }
   .assessment_order,.finished_ass{
    /*border: 1px solid grey;*/

   }
   .assessment_order,.coord_orders{
   	width:95%;
    margin-left: auto;
    margin-right: auto;
   }
   .coord_orders{
   	/*border: 1px solid grey;*/
   	margin-top: 15px;
   }
#flows li{
   display: inline;
}
#line{
	border:1px solid red;
}
.option{
	border-right:1px solid #F5F5F5;
	color:blue;
	text-align: center;
}
.vertical-line{
  width: 2px;
  background-color: blue;
  height: 100%;
  border-radius: 2px;
  margin-top: -20px;
}
  .unseen{
   color: #F5F5F5;
}
.requestF:hover{
   background-color: skyblue;
}
.requestMF:hover{
   background-color: skyblue;
}
.ReviewF:hover{
	background-color: skyblue;
}
.report:hover{
	background-color: skyblue;
}
.AcceptedF:hover{
	background-color: skyblue;
}
.Others:hover{
	background-color: skyblue;
}
.request:hover{
  color:white;
}
.gen_vat:hover{
	color:white;
}
.genvat:hover{
 background-color: :skyblue;
}
table{
	border:none;
	border-collapse: collapse;
}
.hover_req:hover{
	color:white;
}
.meter{
	width:0px;
}
.for-small{
	display: none;
}
/*.company_flow{
	text-align: center;
}*/
#no_fin_ass{
 color:grey;font-size:1.2em;}
 #no_ongoing_ass{
 color:grey;font-size:1.2em;
 }
 .gen_vat,.otherfile,.accepted, .chats, .review, .request, .fontsize{
 	font-size: 1.0em;
 }
 #loading_coord_ongoing_ass{
 	margin-top: 40px;
 	text-align: center;

 }
 .add_to_no_ongoing{
 	border: none;
    width:300px;height:300px;border-radius:150px;background-color:white;margin-left:auto;margin-right:auto;text-align: center;padding-top: 150px;font-size: 1.2em;color:grey;
 }
 .cord_page_status{
 	background-color:#364150;color:white;padding-left:5px;padding-right:5px;width:12%;
 }
 .company_flow:hover{
  background-color: :skyblue;
 }
.ongoing_ass_header{
	 background-color:#364150;margin-top:20px;margin-bottom:50px;padding:5px 5px 5px 5px;font-size:1.0em;color:white;
}
.status_of_doc li{
  display: inline;
  margin-right:40px;
}
.company_flow_on_company_page{
	color:grey;
}
.notif{
color:white;width:200px;padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px;background-color:red;border-radius:25px;
}
#welcome{
	margin-top: 0px;
	font-size: 1.0em;
}

#owner{
	font-size: 0.9em;
}
@media only screen and (max-width: 800px){

.table_for_assess th{
	background-color: red;
}
 
}	
@media only screen and (max-width: 1000px) and (min-width:767px){
.fontsize{
	font-size: 1.0em;
}
.table_for_assess .sta{
	width:3%;
}
.div1{
	width:1500px;
}
.progress{
	width: 500px;margin-left:70px;
}
.divflow{
	width:100%;
	margin-left: 0px;
}
.table_for_assess th{
	background-color: blue;
}
.all_company_ass {
	display: none;
}
.profile{
	width:80px;
	height: 80px;
	border-radius: 50px;
}
.assessment_order{
	width:100%;
    margin-left: auto;
    margin-right: auto;
}
.ongoing_ass_header{
	 background-color:#364150;margin-top:20px;margin-bottom:50px;padding:5px 5px 5px 5px;font-size:0.8em;color:white;font-weight: 100px;
}
#create_company,#coordinator,#auditor,#Upfile,#downloadfile,#allconversations,#Morefile,#otherfile,#generate_vat,#coord_request_file,#coord_otherfile,#auditor_otherfile,#requested_file,#audit_status{
    width:55%;
	margin-left:auto;
	margin-right: auto;
	height:auto;
	margin-top: -50px;
	border-top-right-radius: 40px;
	box-shadow: 5px 5px grey;
	font-family:Roboto Condensed, sans-serif;
}
.sidelist{
	font-size:0.8em;
	color:#b4bcc8;
	border-bottom:1px solid grey;
	padding-top:10px;
	padding-bottom:10px;
}
#welcome{
	margin-top: 5px;
	font-size: 1.0em;
}
.fontsize{
	font-size: 1.0em;
}

}
@media only screen and (max-width: 767px){
 .sideall{
 	position: absolute;
 	top:-2000px;
 	width:40%;
 }
 .top-bar{
 	background-color: :green;
 }
.div1{
	width:1470px;
}
.progress{
	width: 590px;margin-left:70px;
}
.divflow{
	width:690px;
	margin-left: 0px;
}
 .auditor_flow{
 	font-size: 1.0em;
 }
.table_for_assess th{
	background-color: red;
	width:100%;
}
.for-small{
	display: block;
}
 .fontsize{
 	font-size: 1.0em;
 }
 .maincon{
 	width: 100%;
 }
 .assessment_order{
 	    width:100%;
    margin-left: auto;
    margin-right: auto;
 }
 #create_company,#coordinator,#auditor,#Upfile,#downloadfile,#allconversations,#Morefile,#otherfile,#generate_vat,#coord_request_file,#coord_otherfile,#auditor_otherfile,#requested_file,#audit_status{
    width:70%;
	margin-left:auto;
	margin-right: auto;
	height:auto;
	margin-top: -50px;
	border-top-right-radius: 40px;
	box-shadow: 5px 5px grey;
	font-family:Roboto Condensed, sans-serif;
}
 .profile{
 	width:100px;
 	height: 100px;
	border-radius: 50px;
	border: 2px solid grey;
}
}
@media only screen and (max-width: 680px){
.for-small{
	display: none;
}
.assessment_order{
 	    width:100%;
    margin-left: auto;
    margin-right: auto;
 }
    .top-bar{
 	background-color: blue;
 }

  .sideall{
 	position: absolute;
 	top:-2000px;
 	width:40%;
 }
 .only{
 	margin-top: 0px;
 }
 .div1{
 	margin-left: -10px;
 }
  #create_company,#coordinator,#auditor,#Upfile,#downloadfile,#allconversations,#Morefile,#otherfile,#generate_vat,#coord_request_file,#coord_otherfile,#auditor_otherfile,#requested_file,#audit_status{
    width:70%;
	margin-left:auto;
	margin-right: auto;
	height:auto;
	margin-top: -50px;
	border-top-right-radius: 40px;
	box-shadow: 5px 5px grey;
	font-family:Roboto Condensed, sans-serif;
}
 .progress{
	width: 500px;margin-left:70px;
}
.divflow{
	width:100%;
	margin-left: 0px;
}
  .profile{
 	width:80px;
 	height: 80px;
	border-radius: 40px;
	border: 2px solid grey;
}

}
@media only screen and (max-width: 500px){
    .sideall{
 	position: absolute;
 	top:-2000px;
 	width:70%;
 }
   .top-bar{
 	background-color: yellow;
 }
 .divflow{
	width:100%;
	margin-left: 0px;
}
   #create_company,#coordinator,#auditor,#Upfile,#downloadfile,#allconversations,#Morefile,#otherfile,#generate_vat,#coord_request_file,#coord_otherfile,#auditor_otherfile,#requested_file,#audit_status{
    width:100%;
	margin-left:auto;
	margin-right: auto;
	height:auto;
	margin-top: 0px;
	border-top-right-radius: 40px;
	box-shadow: 5px 5px grey;
	font-family:Roboto Condensed, sans-serif;
}
#companyuploadedfile{
	width:100%;
	margin-left:auto;
	margin-right: auto;
	height:50%;
	margin-top: 20px;
	border-top-right-radius: 40px;
	box-shadow: 5px 5px grey;
	font-family:Roboto Condensed, sans-serif;
	padding: 0px 0px 0px 0px;
}
#companyuploadedfile{
	padding: 0px 0px 0px 0px;
	height:50%;
	background-color: red;
}
}
